<a href="https://colab.research.google.com/github/elavarasu123/Coding/blob/main/Copy_of_100_Days_of_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#DAY 1

Question : Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
for i in range(2000,3201):
  if i%7==0 and not(i%5==0):
    print(i,end=",")

Alternative Solution

In [ ]:
result=[]
for i in range(2000,3201):
  if i%7==0 and not(i%5==0):
    result.append(str(i))

print(",".join(result))

#DAY 2

---
Question : Write a program which can compute the factorial of a given numbers.




Suppose the following input is supplied to the program:

8

Then, the output should be:

40320

In [ ]:
#Using loop

n=int(input("Enter number for factorial : "))
result=1
for i in range(1,n+1):
  result*=i
print(result)

Using Recurssion

In [ ]:
def rec(n):
  if n==0:
    return 1
  return n*rec(n-1)

n=int(input("Enter number for factorial : "))
print(rec(n))

#DAY 3

Question : With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

Suppose the following input is supplied to the program:

8

Then, the output should be:

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [1]:
n=int(input("Enter the number: "))
result=dict()  #{}

for i in range(1,n+1):
  result[i]=i*i
print(result)

Enter the number: 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Alternative

In [2]:
n=int(input("Enter the number: "))
result=dict()  #{}
i=1
while(i<=n):
  result[i]=i*i
  i=i+1
print(result)

Enter the number: 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}